{% extends "base.html" %}
{% load static %}

{% block page_content %}

<html>
<head>
<meta charset="utf-8"> 
    <style type="text/css">
        body {
            margin-left: 2%;
            margin-right: 2%;
        }
        h3 {
            margin: auto;        
            text-align: center;
            border: solid gray;
            margin-bottom: 2%;
        }
        .btn {
            font-size: larger;
            font-weight: bold;
        }
        button {
            margin-top: 2%;
            margin-left: 1%;
        }
        
    </style>
</head>
</html>


<body>
    {% if manage %}
    <a href="{% url 'manage_page' %}"
                    class="btn">
        Back to manage page
    </a>
    {%else%}
    <a href="{% url 'main_page' student_pk %}"
                    class="btn">
        Back
    </a>
    {%endif%}

    <h3>Edit Account Information for {{student.name}}</h3>
    
    <p>
        <div class="row">
            <label class="col-md-2">Name: </label>
            <b>{{student.name}}</b>
        </div>
        <div class="row">
            <label class="col-md-2">Email: </label>
            <b>{{student.email}}</b>
        </div>
        <div class="row">
            <label class="col-md-2">NUID: </label>
            <b>{{student.nuid}}</b>
        </div>
    </p>

    <p>
    <form action = "{% url 'update_account' student_pk %}" method = "POST">
        {% csrf_token %}

        <input type="hidden" value={{manage}} name="manage">
        <div class="row">
            <label class="col-md-2">New Name</label>
            <input type="text" name="name">
        </div>
        <div class="row">
            <label class="col-md-2">New Email</label>
            <input type="text" name="email">
        </div>
        <div class="row">
            <label class="col-md-2">New NUID</label>
            <input type="text" name="nuid">
        </div>
        <div class="row">
            <label class="col-md-2">New Password</label>
            <input type="text" name="password">
        </div>
    
        <div class="row">
            <button type="submit">Update Student</button>
        </div>
    </form>

    {% if manage %}
    <form action = "{% url 'update_account' student_pk %}" method = "POST">
        {% csrf_token %}
    <div class="row">
        <input type="hidden" value="delete this student" name="delete">
        <button type="submit" style="color: brown;">Delete Student's ALL RECORDS From System</button>
    </div>
    </form>
    {%endif%}
    
    </p>

</body>

{% endblock %}